/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/


*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 400;
    width: 1440px;
  }

  button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }

  button:hover {
    cursor: pointer;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  .event {
    height: 48px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
  }

  .event-group {
    width: 859px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 445px;
    /* margin-right: 136px; */
    font-size: 14px;
    font-weight: 400;
  }

  .event-group-left {
    display: flex;
    gap: 8px;
  }

  .shop-now {
    font-weight: 600;
    color: white;
    text-decoration: none;
  }

  .language {
    display: flex;
    gap: 5px;
  }

  .language-choice {
    font-size: 24px;
    line-height: 24px;
    position: relative;
    top: -8px;
  }

  .header {
    width: 100%;
    height: 94px;
    padding: 40px 135px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .navigation {
    width: 1170px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-right: 160px;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-right: 120px;
    font-size: 16px;
    padding: 0;
  }

  .nav li {
    list-style-type: none;
  }

  .header-right {
    display: flex;
    width: 400px;
  }

  .header-icons {
    display: flex;
    gap: 16px;
  }

  .header-icons .cart-icon {
    height: 32px;
    width: 32px;
    position: relative;
  }

  .header-icons .cart-number {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: #DB4444;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%,-25%);
  }

  .header-icons img {
    height: 32px;
  }

  .looking-item {
    position: relative;
  }

  #looking {
    width: 243px;
    height: 38px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 3px;
    padding: 10px 70px 10px 20px;
    margin-right: 24px;
  }

  #looking::placeholder {
    color: black;
    opacity: 50%;
    font-size: 12px;
    font-weight: 400;
  }

  img[alt="find"] {
    height: 24px;
    position: absolute;
    top: 50%;
    right: 30px;
    /* transform: translateX(-50%); */
    transform: translateY(-50%);
  }

  .header2 {
    display: flex;
  }

  .navigation-2 {
    width: 368px;
    height: 384px;
    padding: 40px 16px 0px 135px;
    border-right: 1px solid rgba(0, 0, 0, .1);
  }

  .navigation-2 ul {
    height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navigation-2 li {
    list-style-type: none;
  }

  /* .promotion {
    padding: 40px 135px 140px 45px;
  } */

  .carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    margin: auto;
  }

  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 500%;
  }

  .carousel-images img {
    width: 100%;
    flex: 0 0 20%;
    opacity: 0;
    position: absolute; 
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-images img.active {
    opacity: 1;
    position: relative; 
  }

  .carousel-images img.active {
    opacity: 1;
  }

  .carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }

  .carousel-dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
  }
  
  .carousel-dots .dot.active {
    background: #000;
  }

  .division-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;
  }

  .flash-sale {
    padding: 140px 135px 60px 135px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .red-mark {
    width: 20px;
    height: 40px;
    background-color: #DB4444;
    border-radius: 4px;
  }

  .title-text {
    font-size: 16px;
    font-weight: 600;
    color: #DB4444;
  }

  .information {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
  }

  .left-part {
    display: flex;
    gap: 87px;
  }

  .flash-sale-text {
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
  }

  .flash-sale-countdown {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .previous-next {
    display: flex;
    height: 46px;
    gap: 8px;
  }

  .time-day {
    grid-column: 1;
    font-weight: 500;
    font-size: 12px;
  }

  .time-hour {
    grid-column: 3;
    font-weight: 500;
    font-size: 12px;
  }

  .time-minute {
    grid-column: 5;
    font-weight: 500;
    font-size: 12px;
  }

  .time-second {
    grid-column: 7;
    font-weight: 500;
    font-size: 12px;
  }

  .day-number {
    grid-column: 1;
    font-weight: 700;
    font-size: 32px;
  }

  .hour-number {
    grid-column: 3;
    font-weight: 700;
    font-size: 32px;
  }

  .minute-number {
    grid-column: 5;
    font-weight: 700;
    font-size: 32px;
  }

  .second-number {
    grid-column: 7;
    font-weight: 700;
    font-size: 32px;
  }

  .time-split1 {
    grid-row: 1/3;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-weight: 500;
    color: #DB4444;
  }

  .time-split2 {
    grid-row: 1/3;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-weight: 500;
    color: #DB4444;
  }

  .time-split3 {
    grid-row: 1/3;
    grid-column: 6;
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-weight: 500;
    color: #DB4444;
  }

  .previous-next img:hover {
    opacity: 50%;
  }

  .products {
    width: 1170px;
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    transition: transform 0.3s ease-in-out;
  }

  .products > div {
    display: flex;
    flex-direction: column;
  }

  .product-container {
    width: 270px;
    height: 250px;
    background-color: #F5F5F5;
    position: relative;
  }

  .sale-percentage {
    width: 55px;
    height: 26px;
    padding: 4px 12px;
    color: white;
    background-color: #DB4444;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .product-container .add-to-cart {
    display: none;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 41px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    }

  .product-container:hover .add-to-cart { 
    display: flex; 
  }

  .product-container a > img {
    position: absolute;
    width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .product-container > img {
    position: absolute;
    width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .product-container div:hover {
    /* stroke: white; */
    fill: white;
    background-color: #DB4444;
  }

  .product-container .favorite-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 12px; right: 12px;
  }

  .product-container .seen-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 54px; right: 12px;
  }

  img[alt="sale item"] {
    margin-bottom: 16px;
  }

  .product-price {
    display: flex;
    gap: 12px;
  }

  .sale-price {
    color: #DB4444;
  }

  .original-price {
    text-decoration: line-through;
    opacity: 50%;
  }

  .rating {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .rating-stars {
    width: 100px;
    display: flex;
    position: relative;
  }

  .star-container {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  
  .star-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: #FFAD33;
  }
  
  .star-svg.gray {
    fill: rgba(0, 0, 0, 0.25); /* Xám */
    z-index: 1;
  }
  
  .star-svg.yellow {
    fill: #FFAD33; /* Vàng */
    z-index: 2;
    clip-path: inset(0 50% 0 0); /* Hiển thị nửa trái */
  }

  .rating-numbers {
    font-size: 14px;
    font-weight: 600;
  }

  .view-all-product {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .view-all-product-button {
    background-color: #DB4444;
    width: 234px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 48px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    color: white;
    margin-bottom: 60px;
  }

  .categories {
    padding: 0 135px 60px 135px;
    display: flex;
    flex-direction: column;
  }

  .choose-catogories {
    display: flex;
    gap: 30px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .choose-catogories img {
    width: 170px;
    transition: filter 0.3s ease;
  }

  img[alt="Phone Category"]:hover {
    content: url('images/Category-phone-hover.svg')
  }

  img[alt="Computer Category"]:hover {
    content: url('images/Category-computer-hover.svg')
  }

  img[alt="Smartwatch Category"]:hover {
    content: url('images/Category-watch-hover.svg')
  }

  img[alt="Camera Category"]:hover {
    content: url('images/Category-camera-hover.svg')
  }

  img[alt="Headphone Category"]:hover {
    content: url('images/Category-headphone-hover.svg')
  }

  img[alt="Gaming Category"]:hover {
    content: url('images/Category-gaming-hover.svg')
  }

  .view-all-button {
    background-color: #DB4444;
    width: 159px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 48px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    color: white;
  }

  .best-selling {
    padding: 0 135px 0px 135px;
    display: flex;
    flex-direction: column;
  }

  .promo-container {
    padding: 80px 135px 71px 135px;
  }

  .promo-product {
    background-color: black;
    width: 1170px;
    height: 500px;
    display: flex;
    padding: 37px 44px 43px 56px;
    position: relative;
  }

  .promo-information {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .promo-information p {
    color: #00FF66;
    font-size: 16px;
    font-weight: 600;
  }

  .promo-information h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Inter';
    color: white;
  }

  img[alt="Promo product"] {
    width: 600px;
    height: 420px;
  }

  img[alt="Product effect"] {
    position: absolute;
    top: 0;
    right: 0;
  }

  .timer {
    display: flex;
    width: 320px;
    height: 62px;
    justify-content: space-between;
  }

  .timer div {
    border-radius: 50%;
    background-color: white;
    width: 62px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .timer .timer-number {
    font-size: 16px;
    font-weight: 600;
    color: black;
  }

  .timer .timer-format {
    font-size: 11px;
    font-weight: 400;
    color: black;
    position: relative;
    top: -4px;
  }

  .buynow-button {
    width: 171px;
    height: 56px;
    background-color: #00FF66;
    color: white;
    border-radius: 4px;
    padding: 16px 48px;
    border: 0;
  }

  .our-product {
    padding: 0 135px 0px 135px;
    display: flex;
    flex-direction: column;
  }

  #full-product-section {
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: 350px 350px;
    column-gap: 30px;
    row-gap: 60px;
  }

  .featured {
    padding: 80px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .featured-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 1fr; */
    gap: 30px;
  }

  .playstation5 {
    background-color: black;
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .women-collection {
    background-color: black;
    height: 284px;
    grid-column: 3/5;
  }

  .women-collection img {
    height: 284px;
  }

  .speakers, .perfume {
    background-color: black;
    height: 284px;
  }

  .featured-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .playstation5 img {
    align-self: self-end;
  }

  .women-collection img{
    position: absolute;
    right: 0;
  }

  .featured-product-info {
    width: 242px;
    height: 122px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
  }

  .featured-product-info h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Inter';
  }

  .featured-product-info p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
  }

  .featured-product-info .shop-now-button {
    width: 81px;
    height: 24px;
    background-color: rgba(0, 0, 0, .0);
    color: white;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    border-bottom: 1px solid rgb(198, 198, 198)
  }

  .speakers div,
  .perfume div {
    width: 191px;
    height: 85px;
  }

  .guarantee-section {
    height: 441px;
    padding: 140px 113px;
    display: flex;
    justify-content: space-between;
  }

  .guarantee-section >div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .guarantee-section img {
    width: 80px;
  }

  .guarantee-section h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .guarantee-section p {
    font-size: 14px;
    font-weight: 400;
  }

  img[alt="Up Arrow"] {
    width: 46px;
    position: absolute;
    right: 89px;
    bottom: 32px;
  }

  .footer {
    color: white;
    height: 440px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 80px 135px 124px 135px;
  }

  .footer > div {
    display: flex;
    flex-direction: column;
  }

  .footer h1 {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .footer h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .footer p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .footer a {
    color: white;
    text-decoration: none;
  }

  #scrollToTopBtn:hover {
    opacity: 50%;
  }

  .contact-methods {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
  }

  .email-field {
    position: relative;
  }

  .email-field input {
    width: 217px;
    height: 48px;
    border: 1.5px solid white;
    background-color: black;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
  }

  .email-field input::placeholder {
    font-size: 16px;
    font-weight: 400;
  }

  .support {
    width: 175px;
  }

  .account {
    width: 123px;
  }

  .quick-link {
    width: 109px;
  }

  .download-app {
    width: 198px;
  }

  .download-app p {
    font-size: 12px;
    font-weight: 500;
    opacity: 70%;
  }

  .email-field img {
    width: 24px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .app-download {
    display: flex;
    flex-direction: column;
  }

  .social-medias {
    display: flex;
    gap: 24px;
  }

  img[alt="QR Code"] {
    width: 76px;
  }

  .app-download img {
    width: 110px;
  }

  .signup-container {
    display: flex;
    align-items: center;
    gap: 129px;
    margin-top: 60px;
    margin-bottom: 140px;
  }

  .signup-container form {
    width: 371px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .signup-container form h1 {
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 500;
  }

  .signup-container form p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
  }

  .signup-container form input {
    width: 100%;
    margin-bottom: 40px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-bottom: 8px;
  }

  .signup-container form input::placeholder {
    font-size: 16px;
    font-weight: 400;
  }

  button#create-account {
    background-color: #DB4444;
    color: white;
    border: 0;
    padding: 16px 122px;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  button#sign-google {
    background-color: white;
    color: black;
    border: 0;
    padding: 16px 85px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .4);
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
  }

  .have-account {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .have-account p#have-account {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0; 
}

  .have-account button {
    width: 50px;
    height: 28px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    background-color: white;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
  }

  .login-container {
    display: flex;
    align-items: center;
    gap: 129px;
  }
  
  .login-container form {
    width: 371px;
    height: 326px;
    display: flex;
    flex-direction: column;
  }

  .login-container form h1 {
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 500;
  }

  .login-container form p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
  }

  .login-container form input {
    width: 100%;
    margin-bottom: 40px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-bottom: 8px;
  }

  .login-container form input::placeholder {
    font-size: 16px;
    font-weight: 400;
  }

  .button-container {
    display: flex;
    gap: 87px;
    align-items: center;
  }

  button#login-button {
    width: 143px;
    background-color: #DB4444;
    color: white;
    border: 0;
    padding: 16px 48px;
    border-radius: 4px;
  }

  button#forget-password {
    width: 145px;
    height: 24px;
    background-color: white;
    border: white;
    padding: 0;
    color: #DB4444;
  }

  .body-container {
    padding: 80px 135px 140px 135px;
  }

  .path-to-ui {
    width: 400px;
    display: flex;
    justify-content:flex-start;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 80px;
  }

  .get-contact {
    display: flex;
    gap: 30px;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    box-shadow: 0px 1px 13px 0px #0000000D;
    padding: 40px 35px 51px 35px;
  }

  .call-us,
  .write-us {
    display: flex;
    flex-direction: column;
  }

  .call-us p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .call-to-us,
  .write-to-us {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
  }

  .call-to-us > p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
  }

  .straight-line {
    width: 270px;
    height: 0.5px;
    background-color: black;
    opacity: 50%;
    /* border: 1px solid black; */
  }

  .write-us {
    width: 250px;
  }

  .leave-contact {
    width: 800px;
    height: 457px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 207px 56px;
    column-gap: 16px;
    row-gap: 32px;
    box-shadow: 0px 1px 13px 0px #0000000D;
    padding: 40px 32px;
  }

  .leave-contact input {
    padding-left: 16px;
    background-color: #F5F5F5;
    border: 0;
  }

  .leave-contact input::placeholder {
    font-size: 16px;
    font-weight: 400;
  }

  .leave-contact textarea {
    padding-left: 16px;
    padding-top: 13px;
    background-color: #F5F5F5;
    border: 0;
    grid-column: 1/4;
    resize: none;
  }

  .leave-contact button {
    width: 215px;
    justify-self: end;
    border-radius: 4px;
    background-color: #DB4444;
    color: white;
    border: 0;
    grid-column: 3/4;
  }

  /* Layout trang chi tiết sản phẩm */

  .product-info {
    height: 600px;
    display: grid;
    grid-template-columns: 170px 30px 500px 70px 400px;
    gap: 0px;
  }

  .product-images div {
    background-color: #F5F5F5;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-images {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .product-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
  }

  .product-thumb img {
    width: 446px;
  }

  .product-desciption {
    display: flex;
    flex-direction: column;
  }

  .product-desciption h1 {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .rate-and-stock {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
  }

  .rate-and-stock .number-review {
    font-size: 14px;
    font-weight: 400;
    opacity: 50%;
    margin-left: 8px;
  }

  .rate-and-stock .straight-line {
    width: 1px;
    height: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .rate-and-stock .in-stock {
    font-size: 14px;
    font-weight: 400;
    opacity: 60%;
    color: #00FF66;
  }

  .product-desciption .product-price {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .product-info .description {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .product-desciption .horizontal-line {
    height: 1px;
    width: 400px;
    background-color: black;
    margin-bottom: 80px;
  }

  .color-choice {
    font-family: 'Inter';
    font-size: 20xp;
    font-weight: 400;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
  }

  .color-choice .product-color {
    display: flex;
    gap: 8px;
  }

  .color-choice .product-color button {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    outline: none;
  }

  .color-choice .product-color button:active,
  .color-choice .product-color button:focus {
    outline: 1px solid #333; 
    outline-offset: -2px;
  }

  .size-choice {
    font-family: 'Inter';
    font-size: 20xp;
    font-weight: 400;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
  }

  .size-choice .product-size {
    display: flex;
    gap: 16px;
  }

  .size-choice .product-size button {
    width: 32px;
    height: 32px;
    border: 1px rgba(0, 0, 0, .5);
    border-radius: 4px;
  }

  .size-choice .product-size button:active,
  .size-choice .product-size button:focus {
    background-color: #DB4444;
    color: white;
    border: 0;
  }

  .buy-quanity {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .buy-number {
    display: flex;
    margin-right: 16px;
  }

  .buy-number .decrease-product,
  .buy-number .increase-product {
    width: 40px;
    height: 44px;
    border: 1px solid black;
    background-color: white;
    font-size: 25px;
  }

  .buy-number .decrease-product:focus,
  .buy-number .increase-product:focus {
    background-color: #DB4444;
    border: 0;
    color: white;
  }

  .buy-number .decrease-product {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .buy-number .increase-product {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .buy-number .product-number {
    width: 80px;
    height: 44px;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
  }

  .buy-quanity .buy-now {
    width: 165px;
    height: 44px;
    border: 0;
    background-color: #DB4444;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-right: 19px;
  }

  .buy-quanity .wish-list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 4px;
  }

  .priviledge {
    width: 400px;
    height: 180px;
    
  }

  .priviledge h1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .priviledge p {
    font-size: 12px;
    font-weight: 500;
  }

  .priviledge .free-delivery {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 40px 16px 16px;
  }

  .priviledge .free-delivery-text {
    display: flex;
    flex-direction: column;
  }

  .priviledge .free-delivery img {
    width: 40px;
    height: 40px;
  }

  .priviledge .return-delivery {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid black;
    border-top: 0px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 40px 16px 16px;
  }

  .priviledge .return-delivery-text {
    display: flex;
    flex-direction: column;
  }

  .priviledge .return-delivery img {
    width: 40px;
    height: 40px;
  }

  /* All product display page */
  .all-products {
    padding: 140px 135px 150px 135px;
  }

  #all-products-display {
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: 350px;
    grid-auto-rows: 350px;
    column-gap: 30px;
    row-gap: 60px;
  }

  /* Related items at product page */
  #related-items {
    overflow: hidden;
  }

  /* Cart page */
  .cart-container .heading {
    width: 1170px;
    height: 72px;
    display: flex;
    /* gap: 284px; */
    padding: 24px 39px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 40px;
  }

  .cart-container .heading p:nth-child(2) {
    position: absolute;
    left: 387px;
  }

  .cart-container .heading p:nth-child(3) {
    position: absolute;
    left: 710px;
  }

  .cart-container .heading p:nth-child(4) {
    position: absolute;
    left: 1063px;
  }

  .cart-product-container {
    display: grid;
    width: 1170px;
    grid-template-rows: 102px;
    grid-auto-rows: 102px;
    row-gap: 40px;
  }

  .cart-product {
    width: 100%;
    height: 102px;
    display: flex;
    padding: 24px 39px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    align-items: center;
  }

  .cart-product-image {
    position: relative;
  }

  .cart-product-image img {
    width: 54px;
  }

  .cart-product-delete {
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #DB4444;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    transform: translate(-50%,0%);
    opacity: 0%;
  }

  .cart-product-delete:hover {
    opacity: 100%;
  }

  .cart-product-delete img {
    width: 8px;
  }
 
  .cart-product-name {
    position: absolute;
    left: 114px;
  }

  .cart-product-price {
    position: absolute;
    left: 387px;
  }
  
  .cart-product-quantity-container {
    width: 72px;
    height: 44px;
    position: absolute;
    left: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 1.5px solid rgba(0, 0, 0, .4);
    border-radius: 4px;
  }

  .cart-increase-decrease .increase-button:active,
  .cart-increase-decrease .increase-button:focus {
    border: 1px solid black;
  }

  .cart-product-subtotal {
    position: absolute;
    left: 1063px;
  }

  .return-to-shop {
    margin-top: 24px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  }

  .return-to-shop button {
    width: 218px;
    height: 56px;
    padding: 16px 46px;
    background-color: white;
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, .5);
  }

  .coupon-carttotal {
    display: flex;
    justify-content: space-between;
  }

  .coupon-carttotal .apply-coupon {
    display: flex;
    gap: 16px;
  }

  .coupon-carttotal .apply-coupon input {
    width: 300px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid black;
  }

  .coupon-carttotal .apply-coupon input::placeholder {
    position: relative;
    left: 24px;
  }

  .coupon-carttotal .apply-coupon button {
    width: 211px;
    height: 56px;
    background-color: #DB4444;
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: 500;
  }

  .coupon-carttotal .checkout {
    width: 470px;
    height: 324px;
    border-radius: 4px;
    border: 1.5px solid black;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
  }

  .coupon-carttotal .checkout h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
  }

  .coupon-carttotal .checkout > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .coupon-carttotal .checkout .cart-subtotal,
  .coupon-carttotal .checkout .cart-shipping {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
  }

  .coupon-carttotal .checkout .checkout-button {
    width: 260px;
    height: 56px;
    background-color: #DB4444;
    border: 0;
    border-radius: 4px;
    color: white;
    margin: auto;
    padding: 16px 46px;
    font-weight: 500;
  }